Repository revred/RichMove.SmartPay, changes with the owners that CODEOWNERS names for each.
All owners: @richmove/owners, @richmove/pm, @richmove/eng, @richmove/compliance

CODEOWNERS:

* @richmove/owners
/PLAN/ @richmove/pm
/WPS/ @richmove/eng
/REGULATORY/ @richmove/compliance

feat(wp1): solution + analyzers + CI/CD pipeline
  .claude/settings.local.json
  .editorconfig
  .github/workflows/ci.yml
  Directory.Build.props
  Directory.Packages.props
  RichMove.SmartPay.sln
  TESTS/Api.Tests/HealthCheckTests.cs
  TESTS/Api.Tests/RichMove.SmartPay.Api.Tests.csproj
  TESTS/Core.Tests/RichMove.SmartPay.Core.Tests.csproj
  global.json
  src/Api/Program.cs
  src/Api/Properties/launchSettings.json
  src/Api/RichMove.SmartPay.Api.csproj
  src/Api/RichMove.SmartPay.Api.http
  src/Api/appsettings.Development.json
  src/Api/appsettings.json
  src/Core/RichMove.SmartPay.Core.csproj
  src/Infrastructure/RichMove.SmartPay.Infrastructure.csproj
  stryker-config.json
Owners: @richmove/owners

refactor: reorganize source code into ZEN folder structure
  .claude/settings.local.json
  .github/workflows/ci.yml
  README.md
  ZEN/Directory.Build.props
  ZEN/Directory.Packages.props
  ZEN/Makefile
  ZEN/RichMove.SmartPay.sln
  ZEN/SOURCE/Api/Program.cs
  ZEN/SOURCE/Api/Properties/launchSettings.json
  ZEN/SOURCE/Api/RichMove.SmartPay.Api.csproj
  ZEN/SOURCE/Api/RichMove.SmartPay.Api.http
  ZEN/SOURCE/Api/appsettings.Development.json
  ZEN/SOURCE/Api/appsettings.json
  ZEN/SOURCE/Core/RichMove.SmartPay.Core.csproj
  ZEN/SOURCE/Infrastructure/RichMove.SmartPay.Infrastructure.csproj
  ZEN/TESTS/Api.Tests/HealthCheckTests.cs
  ZEN/TESTS/Api.Tests/RichMove.SmartPay.Api.Tests.csproj
  ZEN/TESTS/Core.Tests/RichMove.SmartPay.Core.Tests.csproj
  ZEN/TESTS/Load_Test_Plan.md
  ZEN/TESTS/Regression_Test_List.csv
  ZEN/TESTS/Security_Test_Plan.md
  ZEN/global.json
  ZEN/stryker-config.json
Owners: @richmove/owners

docs: comprehensive documentation update for WP1 completion
  DOCS/API_Spec_Skeleton.yaml
  DOCS/Coding_Guidelines.md
  DOCS/WP1_Completion_Report.md
Owners: @richmove/owners

chore: add Claude settings to gitignore
  .gitignore
Owners: @richmove/owners

feat(wp1): implement ChatGPT review feedback - WP1 alignment complete
  .claude/settings.local.json
  .github/workflows/ci.yml
  REVIEW/CodeReview/ChatGPT/PatchOn/20250913/1958_WP1_Alignment.patch
  WPS/WP1_Review_Notes.md
  ZEN/SOURCE/Api/Program.cs
  ZEN/SOURCE/Core/ForeignExchange/FxQuoteRequest.cs
  ZEN/SOURCE/Core/ForeignExchange/FxQuoteResult.cs
  ZEN/SOURCE/Core/ForeignExchange/IFxQuoteProvider.cs
  ZEN/SOURCE/Core/Integrations/IShopifyClient.cs
  ZEN/SOURCE/Core/Integrations/ShopInfo.cs
  ZEN/SOURCE/Infrastructure/Data/SupabaseOptions.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/NullFxQuoteProvider.cs
  ZEN/SOURCE/Infrastructure/Integrations/NullShopifyClient.cs
  ZEN/SOURCE/Infrastructure/Integrations/ShopifyOptions.cs
  ZEN/TESTS/Api.Tests/HealthEndpointTests.cs
  ZEN/TESTS/Api.Tests/IntegrationTests.cs
  ZEN/TESTS/Core.Tests/ForeignExchange/NullFxQuoteProviderTests.cs
  ZEN/TESTS/Core.Tests/RichMove.SmartPay.Core.Tests.csproj
Owners: @richmove/owners, @richmove/eng

feat(wp1.1): add coverage enforcement workflow + PR template
  .claude/settings.local.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci-coverage.yml
  REVIEW/CodeReview/ChatGPT/PatchOn/20250913/2015_WP1.1.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250913/README.md
Owners: @richmove/owners

feat(wp1.2): migrate to FastEndpoints architecture
  REVIEW/CodeReview/ChatGPT/PatchOn/20250913/2020_WP1.2_FastEndPoints.patch
  ZEN/Directory.Packages.props
  ZEN/SOURCE/Api/Endpoints/Fx/CreateFxQuoteEndpoint.cs
  ZEN/SOURCE/Api/Endpoints/Fx/FxQuoteRequestValidator.cs
  ZEN/SOURCE/Api/Program.cs
  ZEN/SOURCE/Api/RichMove.SmartPay.Api.csproj
  ZEN/TESTS/Api.Tests/FxQuoteFastEndpointsTests.cs
Owners: @richmove/owners

feat(supabase): initialize local development stack
  .claude/settings.local.json
  DOCS/Supabase_LICENSE
  DOCS/Supabase_Setup.md
  README.md
  REVIEW/CodeReview/ChatGPT/PatchOn/20250913/2045_WP2_Supabase.patch
  ZEN/supabase/.gitignore
  ZEN/supabase/config.toml
Owners: @richmove/owners

refactor: rename supabase folder to SUPABASE for naming consistency
  DOCS/Supabase_Setup.md
Owners: @richmove/owners

feat(wp2): implement comprehensive secrets management system
  .gitignore
  REVIEW/CodeReview/ChatGPT/PatchOn/20250913/2045_WP2_Supabase.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250913/2060_WP2_Supabase_Secrets.patch
  SECRETS.md
  ZEN/supabase/README.md
  secrets/README.md
  secrets/SMARTPAY-RED.secrets.sample.env
Owners: @richmove/owners

feat: add encrypted secrets backup with custom API key protection
  .claude/settings.local.json
  SECRETS.end
  SECRETS.md
Owners: @richmove/owners

WP2: Apply Supabase compatibility improvements
  REVIEW/CodeReview/ChatGPT/PatchOn/20250913/2027_WP2_Supabase_Compatability.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250913/2125_WP2_Supabase_Starter.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250913/2130_WP2_Supabase_DoD.patch
  ZEN/Directory.Packages.props
  ZEN/SOURCE/Api/RichMove.SmartPay.Api.csproj
  ZEN/SOURCE/Core/ForeignExchange/FxCurrencyPair.cs
  ZEN/SOURCE/Core/ForeignExchange/IFxRateSource.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/CombinedFxPricingProvider.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/FxPricingOptions.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/IFxPricingProvider.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/IFxQuoteRepository.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/NoOpFxQuoteRepository.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/SupabaseFxQuoteRepository.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/SupabaseFxRateSource.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/SupabasePricingProvider.cs
  ZEN/SOURCE/Infrastructure/RichMove.SmartPay.Infrastructure.csproj
  ZEN/SOURCE/Infrastructure/Supabase/NpgsqlDataSourceFactory.cs
Owners: @richmove/owners

WP2: Complete Supabase infrastructure implementation
  ZEN/Directory.Packages.props
  ZEN/SOURCE/Api/Endpoints/Health/DbEndpoint.cs
  ZEN/SOURCE/Api/Program.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/CombinedFxPricingProvider.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/ConfigFxPricingProvider.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/InMemoryFxRateSource.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/SimpleFxQuoteProvider.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/SupabaseFxRateSource.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/SupabasePricingProvider.cs
  ZEN/SOURCE/Infrastructure/RichMove.SmartPay.Infrastructure.csproj
  ZEN/SOURCE/Infrastructure/Supabase/NpgsqlDataSourceFactory.cs
  ZEN/SOURCE/Infrastructure/Supabase/SupabasePricingRefreshService.cs
Owners: @richmove/owners

docs: Update project documentation and add tooling automation
  .claude/settings.local.json
  DOCS/Coding_Guidelines.md
  README.md
  ZEN/SOURCE/Api/Endpoints/Health/DbEndpoint.cs
  ZEN/SOURCE/Api/GlobalSuppressions.cs
  ZEN/SOURCE/Infrastructure/GlobalSuppressions.cs
  ZEN/TOOLS/validate-coverage.sh
Owners: @richmove/owners

refactor: Remove unnecessary implementation files to keep minimal WP2 foundation
  .claude/settings.local.json
  ZEN/Directory.Packages.props
  ZEN/SOURCE/Api/Endpoints/Health/DbEndpoint.cs
  ZEN/SOURCE/Api/GlobalSuppressions.cs
  ZEN/SOURCE/Api/Program.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/ConfigFxPricingProvider.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/InMemoryFxRateSource.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/SimpleFxQuoteProvider.cs
  ZEN/SOURCE/Infrastructure/GlobalSuppressions.cs
  ZEN/SOURCE/Infrastructure/RichMove.SmartPay.Infrastructure.csproj
  ZEN/SOURCE/Infrastructure/Supabase/SupabasePricingRefreshService.cs
Owners: @richmove/owners

refactor: Complete comprehensive technical debt cleanup
  ZEN/Directory.Build.props
  ZEN/Directory.Packages.props
  ZEN/SOURCE/Api/Endpoints/Fx/CreateFxQuoteEndpoint.cs
  ZEN/SOURCE/Api/Endpoints/Fx/FxQuoteRequestValidator.cs
  ZEN/SOURCE/Api/Program.cs
  ZEN/SOURCE/Api/RichMove.SmartPay.Api.csproj
  ZEN/SOURCE/Core/ForeignExchange/IFxRateSource.cs
  ZEN/SOURCE/Infrastructure/Data/SupabaseOptions.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/CombinedFxPricingProvider.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/FxPricingOptions.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/IFxQuoteRepository.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/NoOpFxQuoteRepository.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/SupabaseFxQuoteRepository.cs
  ZEN/SOURCE/Infrastructure/ForeignExchange/SupabaseFxRateSource.cs
  ZEN/SOURCE/Infrastructure/Integrations/ShopifyOptions.cs
  ZEN/SOURCE/Infrastructure/Supabase/NpgsqlDataSourceFactory.cs
Owners: @richmove/owners

feat: Implement WP2.6 Blockchain Minimal USP with feature-flagged endpoints
  ZEN/Directory.Packages.props
  ZEN/SOURCE/Api/Endpoints/Blockchain/CreateOnchainIntentEndpoint.cs
  ZEN/SOURCE/Api/Endpoints/Blockchain/CreateWalletEndpoint.cs
  ZEN/SOURCE/Api/Endpoints/Blockchain/IngestTxEndpoint.cs
  ZEN/SOURCE/Api/Program.cs
  ZEN/SOURCE/Infrastructure/Blockchain/IBlockchainGate.cs
  ZEN/SOURCE/Infrastructure/Blockchain/Repositories/IntentRepository.cs
  ZEN/SOURCE/Infrastructure/Blockchain/Repositories/TxRepository.cs
  ZEN/SOURCE/Infrastructure/Blockchain/Repositories/WalletRepository.cs
  ZEN/SOURCE/Infrastructure/RichMove.SmartPay.Infrastructure.csproj
  ZEN/TESTS/Api.Tests/BlockchainEnabledWebApplicationFactory.cs
  ZEN/TESTS/Api.Tests/BlockchainEndpointTests.cs
  ZEN/TESTS/Api.Tests/FxQuoteFastEndpointsTests.cs
  ZEN/TESTS/Api.Tests/HealthCheckTests.cs
  ZEN/TESTS/Api.Tests/HealthEndpointTests.cs
  ZEN/TESTS/Api.Tests/IntegrationTests.cs
  ZEN/TESTS/Api.Tests/TestWebApplicationFactory.cs
Owners: @richmove/owners

refactor: Apply WP2.7 testing review improvements to blockchain endpoints
  ZEN/SOURCE/Api/Endpoints/Blockchain/Base/BlockchainEndpointBase.cs
  ZEN/SOURCE/Api/Endpoints/Blockchain/CreateOnchainIntentEndpoint.cs
  ZEN/SOURCE/Api/Endpoints/Blockchain/CreateWalletEndpoint.cs
  ZEN/SOURCE/Api/Endpoints/Blockchain/IngestTxEndpoint.cs
  ZEN/SOURCE/Api/Program.cs
  ZEN/SOURCE/Infrastructure/Blockchain/Repositories/IIntentRepository.cs
  ZEN/SOURCE/Infrastructure/Blockchain/Repositories/ITxRepository.cs
  ZEN/SOURCE/Infrastructure/Blockchain/Repositories/IWalletRepository.cs
  ZEN/SOURCE/Infrastructure/Blockchain/Repositories/IntentRepository.cs
  ZEN/SOURCE/Infrastructure/Blockchain/Repositories/TxRepository.cs
  ZEN/SOURCE/Infrastructure/Blockchain/Repositories/WalletRepository.cs
  ZEN/TESTS/Api.Tests/BlockchainEndpointTests.cs
Owners: @richmove/owners

WP2.7X: Add comprehensive testing infrastructure with JSON schema validation
  .claude/settings.local.json
  DOCS/BlockChain_Future_updated.md
  REVIEW/CodeReview/ChatGPT/PatchOn/20250913/2245_WP2.6_Blockchain_MinimalUSP.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250913/2250_WP2.7X_TestingReview.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250913/2251_WP2.7_TestingReview.patch
  ZEN/Directory.Packages.props
  ZEN/TESTS/Api.Tests/BlockchainEndpointsSchemaTests.cs
  ZEN/TESTS/Api.Tests/Helpers/Fakes.cs
  ZEN/TESTS/Api.Tests/Helpers/JsonSchemaAssert.cs
  ZEN/TESTS/Api.Tests/RichMove.SmartPay.Api.Tests.csproj
  ZEN/TESTS/Api.Tests/Schemas/chain_intent_create.schema.json
  ZEN/TESTS/Api.Tests/Schemas/chain_tx_ingest.schema.json
  ZEN/TESTS/Api.Tests/Schemas/chain_wallet_create.schema.json
Owners: @richmove/owners

chore: Remove .claude/settings.local.json from version control
  .claude/settings.local.json
Owners: @richmove/owners

feat: Implement WP3 Platform Hardening scaffolding (2328 review)
  DOCS/API/SmartPay.OpenAPI.yaml
  REVIEW/CodeReview/ChatGPT/PatchOn/20250913/2328_WP_1_AND_2_Review.patch
  WPS/WP3_PlatformHardening.md
  ZEN/SOURCE/Api/FeatureFlags.cs
  ZEN/SOURCE/Api/Middleware/UnhandledExceptionMiddleware.cs
  ZEN/SOURCE/Core/Abstractions/IClock.cs
  ZEN/SOURCE/Core/Abstractions/IIdGenerator.cs
  ZEN/SOURCE/Core/Blockchain/IBlockchainLedger.cs
  ZEN/SOURCE/Infrastructure/Blockchain/InMemoryBlockchainLedger.cs
  ZEN/SOURCE/Infrastructure/Blockchain/NullBlockchainLedger.cs
  ZEN/TESTS/Core.Tests/Blockchain/LedgerTests.cs
Owners: @richmove/owners, @richmove/eng

feat: Implement Next 50 production readiness improvements (2342 review)
  DEVX/Postman/SmartPay.postman_collection.json
  DEVX/SDKs/TypeScript/README.md
  DOCS/API/examples/FxQuoteRequest.example.json
  DOCS/API/examples/FxQuoteResult.example.json
  DOCS/API/schemas/FxQuoteRequest.schema.json
  DOCS/API/schemas/FxQuoteResult.schema.json
  DOCS/OPS/Runbooks/FeatureFlags.md
  DOCS/OPS/Runbooks/Rollback.md
  DOCS/OPS/SLOs.md
  REVIEW/CodeReview/ChatGPT/PatchOn/20250913/2342_Next50.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250913/2345_WP3_Crack_Hard.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250913/2350_WP3_Wiring.patch
  ZEN/Makefile
Owners: @richmove/owners

feat: WP3 Platform Hardening - correlation, idempotency, and error handling
  DOCS/ERRORS/ErrorCatalog.md
  REVIEW/CodeReview/ChatGPT/PatchOn/20250913/2353_AUD_Enablement.patch
  ZEN/SOURCE/Api/Extensions/SmartPayHardeningExtensions.cs
  ZEN/SOURCE/Api/Idempotency/IIdempotencyStore.cs
  ZEN/SOURCE/Api/Idempotency/InMemoryIdempotencyStore.cs
  ZEN/SOURCE/Api/Middleware/CorrelationIdMiddleware.cs
  ZEN/SOURCE/Api/Middleware/IdempotencyMiddleware.cs
  ZEN/SOURCE/Api/Program.cs
  ZEN/SOURCE/Api/appsettings.WP3.sample.json
  ZEN/TESTS/Api.Tests/BlockchainEndpointTests.cs
  ZEN/TESTS/Api.Tests/BlockchainEndpointsSchemaTests.cs
  ZEN/TESTS/Api.Tests/FxQuoteFastEndpointsTests.cs
  ZEN/TESTS/Api.Tests/IntegrationTests.cs
Owners: @richmove/owners

feat: Comprehensive AUD enablement with v1.1 API specs and CodeQL
  .github/workflows/codeql.yml
  DEVX/Postman/SmartPay.AUD.postman_collection.json
  DEVX/Postman/SmartPay.AUD.v11.postman_collection.json
  DOCS/ADR/ADR-0004-Currency-Configuration.md
  DOCS/API/SmartPay.OpenAPI.AUD.addendum.yaml
  DOCS/API/SmartPay.OpenAPI.v1.1.yaml
  DOCS/API/examples/FxQuoteRequest.AUD_AED.example.json
  DOCS/API/examples/FxQuoteRequest.AUD_EUR.example.json
  DOCS/API/examples/FxQuoteResult.AUD_AED.example.json
  DOCS/API/examples/FxQuoteResult.AUD_EUR.example.json
  DOCS/API/schemas/v1.1/FxQuoteRequest.schema.json
  DOCS/API/schemas/v1.1/FxQuoteResult.schema.json
  DOCS/CONFIG/SupportedCurrencies.sample.json
  DOCS/CURRENCIES/CurrencySupport.Tier1.md
  DOCS/CURRENCIES/CurrencySupport.md
  DOCS/ERRORS/ErrorCatalog.v1.md
  PLAN/StageGates/DoD-AUD.md
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/0011_WP3_DoD_AUD_Full.patch
  ZEN/TESTS/Core.Tests/Contracts/AudContractsTests.cs
  ZEN/TESTS/Core.Tests/Contracts/AudEurContractsTests.cs
Owners: @richmove/owners, @richmove/pm

feat: Systematic robustness improvements - Groups 1-3 (15/100 Top improvements)
  .config/dotnet-tools.json
  .github/workflows/analyzers.yml
  ANALYZERS/.editorconfig.smartpay.additions
  ANALYZERS/Directory.Build.props.sample
  DOCS/CODING/ApiContracts.md
  DOCS/Engineering/Coding_Guidelines.ReadOnlyAndAllocations.md
  DOCS/OPS/Playbooks/Headers.md
  DOCS/PERF/ZeroAllocPlaybook.md
  REVIEW/CodeReview/ChatGPT/PatchNotes/0017_TOP100_MicroImprovements.NOTES.md
  REVIEW/CodeReview/ChatGPT/PatchNotes/20250913_PatchNotes.md
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/0017_TOP100_Micro_Improvements.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/README.md
  REVIEW/CodeReview/ChatGPT/TopN/20250914/0017_TOP100_MicroImprovements.md
  ZEN/SOURCE/Api/Constants/Headers.cs
  ZEN/SOURCE/Api/Diagnostics/Log.cs
  ZEN/SOURCE/Api/Extensions/SmartPayHardeningExtensions.cs
  ZEN/SOURCE/Api/Handlers/CorrelationIdHandler.cs
  ZEN/SOURCE/Api/Health/HealthService.cs
  ZEN/SOURCE/Api/Health/IHealthService.cs
  ZEN/SOURCE/Api/Idempotency/IdempotencyOptions.cs
  ZEN/SOURCE/Api/Idempotency/InMemoryIdempotencyStore.cs
  ZEN/SOURCE/Api/Middleware/CorrelationIdMiddleware.cs
  ZEN/SOURCE/Api/Middleware/IdempotencyMiddleware.cs
  ZEN/SOURCE/Api/Program.cs
  ZEN/SOURCE/Api/Validation/InputValidator.cs
  ZEN/SOURCE/Api/Validation/JsonSchemaValidator.cs
  ZEN/SOURCE/Core/Guards/Ensure.cs
  ZEN/SOURCE/Core/Patterns/Patterns.cs
  ZEN/SOURCE/Core/Time/IClock.cs
  ZEN/SOURCE/Core/Time/SystemClock.cs
  ZEN/TESTS/Api.Tests/HealthEndpointTests.cs
Owners: @richmove/owners

feat: Groups 5-7 platform hardening + data validation foundation
  ZEN/Directory.Packages.props
  ZEN/SOURCE/Api/Configuration/ConnectionPoolingConfiguration.cs
  ZEN/SOURCE/Api/Diagnostics/Log.cs
  ZEN/SOURCE/Api/Extensions/SmartPayHardeningExtensions.cs
  ZEN/SOURCE/Api/Idempotency/InMemoryIdempotencyStore.cs
  ZEN/SOURCE/Api/Middleware/ColdStartMiddleware.cs
  ZEN/SOURCE/Api/Middleware/CompressionMiddleware.cs
  ZEN/SOURCE/Api/Monitoring/ColdStartTracker.cs
  ZEN/SOURCE/Api/Monitoring/RateLimitCounters.cs
  ZEN/SOURCE/Api/Performance/AsyncDataStreamer.cs
  ZEN/SOURCE/Api/Performance/MemoryPoolManager.cs
  ZEN/SOURCE/Api/Resilience/CircuitBreakerService.cs
  ZEN/SOURCE/Api/RichMove.SmartPay.Api.csproj
  ZEN/SOURCE/Api/Security/AuditLogger.cs
  ZEN/SOURCE/Api/Security/ClientRateLimiter.cs
  ZEN/SOURCE/Api/Security/JwtTokenRotator.cs
  ZEN/SOURCE/Api/Security/PiiRedactor.cs
  ZEN/SOURCE/Api/Security/WebhookSignature.cs
  ZEN/SOURCE/Api/Services/CleanupBackgroundService.cs
  ZEN/SOURCE/Api/Validation/DataSanitizer.cs
  ZEN/SOURCE/Api/Validation/FluentValidationExtensions.cs
  ZEN/SOURCE/Api/Validation/InputValidator.cs
  ZEN/SOURCE/Api/Validation/ValidationResultCache.cs
Owners: @richmove/owners

refactor: MVP-focused validation for Supabase environment
  ZEN/SOURCE/Api/Extensions/SmartPayHardeningExtensions.cs
  ZEN/SOURCE/Api/Validation/AsyncValidationService.cs
  ZEN/SOURCE/Api/Validation/DataSanitizer.cs
  ZEN/SOURCE/Api/Validation/FluentValidationExtensions.cs
  ZEN/SOURCE/Api/Validation/InputValidationMiddleware.cs
  ZEN/SOURCE/Api/Validation/InputValidator.cs
  ZEN/SOURCE/Api/Validation/JsonSchemaValidator.cs
  ZEN/SOURCE/Api/Validation/ValidationResultCache.cs
Owners: @richmove/owners

docs: Add platform documentation and security configuration
  .gitleaks.toml
  DOCS/OBSERVABILITY/OpenTelemetryPlan.md
  DOCS/SECURITY/EnvironmentVariables.md
Owners: @richmove/owners

feat: Group 8 - Advanced Infrastructure & Deployment (Items 81-85/100)
  ZEN/.dockerignore
  ZEN/Dockerfile.production
  ZEN/SOURCE/Api/Configuration/SecureConfigurationManager.cs
  ZEN/SOURCE/Api/Controllers/MetricsController.cs
  ZEN/SOURCE/Api/Controllers/ScalingController.cs
  ZEN/SOURCE/Api/Extensions/SmartPayHardeningExtensions.cs
  ZEN/SOURCE/Api/Health/AdvancedHealthChecks.cs
  ZEN/SOURCE/Api/Infrastructure/Deployment/KubernetesDeploymentService.cs
  ZEN/SOURCE/Api/Infrastructure/Scalability/AutoScalingService.cs
  ZEN/SOURCE/Api/Monitoring/PrometheusMetricsService.cs
  ZEN/SOURCE/Api/Program.cs
Owners: @richmove/owners

feat: Group 9 - Advanced Security & Compliance (Items 86-90/100)
  ZEN/SOURCE/Api/Compliance/ComplianceMonitoringService.cs
  ZEN/SOURCE/Api/Controllers/SecurityController.cs
  ZEN/SOURCE/Api/Extensions/SmartPayHardeningExtensions.cs
  ZEN/SOURCE/Api/Security/SecurityPolicyEngine.cs
  ZEN/SOURCE/Api/Security/SecurityScanningService.cs
  ZEN/SOURCE/Api/Security/ThreatDetectionService.cs
Owners: @richmove/owners

feat: Performance Measurement Foundation (Pre-Group 10)
  ANALYSIS/PERF/Baselines/BestKnown.sample.yaml
  ANALYSIS/PERF/PerfGate.yaml
  ANALYSIS/PERF/ServiceGuarantees.md
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/0037_CoreAPI_PerfSuite_YAML_Analysis.NOTES.md
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/0152_CoreAPI_PerfSuite_v2.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/0218_Top100Followup_Fixes.patch
  ZEN/Directory.Packages.props
  ZEN/PERF/PerfRunner/Program.cs
  ZEN/PERF/PerfRunner/SmartPay.PerfRunner.csproj
  ZEN/PERF/PerfRunner/appsettings.json
Owners: @richmove/owners

feat: Application Performance Monitoring Service (#91/100)
  ZEN/SOURCE/Api/Monitoring/ApplicationPerformanceMonitoringService.cs
Owners: @richmove/owners

feat: Distributed Tracing Service (#92/100)
  ZEN/SOURCE/Api/Monitoring/DistributedTracingService.cs
Owners: @richmove/owners

feat: Metrics Dashboard & Alerting Service (#93/100)
  ZEN/SOURCE/Api/Monitoring/MetricsDashboardService.cs
Owners: @richmove/owners

feat: Advanced Health Check & Dependency Monitoring (#94/100)
  ZEN/SOURCE/Api/Health/AdvancedHealthCheckService.cs
Owners: @richmove/owners

feat: Performance Profiling & Bottleneck Detection (#95/100)
  ZEN/SOURCE/Api/Performance/PerformanceProfilingService.cs
Owners: @richmove/owners

feat: Register Group 10 Monitoring Services (Complete 95/100)
  ZEN/SOURCE/Api/Extensions/SmartPayHardeningExtensions.cs
Owners: @richmove/owners

feat: Complete Top 100 Security Improvements (#96-100/100)
  .github/workflows/ci_hardened.yml
  .gitleaksignore
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/0226_SecurityScan_Allowlist.patch
  ZEN/Directory.Packages.props
  ZEN/SOURCE/Api/Extensions/SmartPayHardeningExtensions.cs
  ZEN/SOURCE/Api/Health/AdvancedHealthChecks.cs
  ZEN/SOURCE/Api/Middleware/SecurityHeadersMiddleware.cs
  ZEN/SOURCE/Api/Monitoring/MetricsDashboardService.cs
  ZEN/SOURCE/Api/RichMove.SmartPay.Api.csproj
  ZEN/SOURCE/Api/Security/AdvancedInputSanitizationService.cs
  ZEN/SOURCE/Api/Security/ApiSecurityHardeningService.cs
  ZEN/SOURCE/Api/Security/ComprehensiveSecurityAuditService.cs
  ZEN/SOURCE/Api/Security/ContentSecurityPolicyService.cs
  secrets/SMARTPAY-RED.secrets.env.sample
Owners: @richmove/owners

fix: Resolve compilation errors and remove duplicate services
  ZEN/SOURCE/Api/Extensions/SmartPayHardeningExtensions.cs
  ZEN/SOURCE/Api/Monitoring/DistributedTracingService.cs
  ZEN/SOURCE/Api/Security/AdvancedInputSanitizationService.cs
  ZEN/SOURCE/Api/Security/ApiSecurityHardeningService.cs
  ZEN/SOURCE/Api/Security/ClientRateLimiter.cs
  ZEN/SOURCE/Api/Security/ComprehensiveSecurityAuditService.cs
  ZEN/SOURCE/Api/Security/ContentSecurityPolicyService.cs
Owners: @richmove/owners

Fix major compilation errors and async/await issues
  ZEN/SOURCE/Api/Security/AdvancedInputSanitizationService.cs
  ZEN/SOURCE/Api/Security/ApiSecurityHardeningService.cs
  ZEN/SOURCE/Api/Security/ComprehensiveSecurityAuditService.cs
  ZEN/SOURCE/Api/Security/ContentSecurityPolicyService.cs
  ZEN/SOURCE/Api/Security/SecurityScanningService.cs
Owners: @richmove/owners
