Repository revred/RichMove.SmartPay, changes with the owners that CODEOWNERS names for each.
All owners: @richmove/owners, @richmove/pm, @richmove/eng, @richmove/compliance

Resolve code quality warnings and improve enum compliance
  ZEN/SOURCE/Api/Compliance/ComplianceMonitoringService.cs
  ZEN/SOURCE/Api/Security/ComprehensiveSecurityAuditService.cs
Owners: @richmove/owners

Apply architectural deep clean improvements from patch 0314
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/0314_PreWP4_Preflight.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/0316_PreWP4_EnumDupeHarness.patch
  ZEN/Directory.Build.props
  ZEN/SOURCE/Api/Compliance/ComplianceMonitoringService.cs
  ZEN/SOURCE/Api/Security/AdvancedInputSanitizationService.cs
  ZEN/SOURCE/Api/Security/ApiSecurityHardeningService.cs
  ZEN/SOURCE/Api/Security/ComprehensiveSecurityAuditService.cs
  ZEN/SOURCE/Api/Security/ContentSecurityPolicyService.cs
  ZEN/SOURCE/Api/Services/CleanupBackgroundService.cs
  ZEN/SOURCE/Core/Compliance/ComplianceTypes.cs
  ZEN/SOURCE/Core/Observability/SmartPayTracing.cs
Owners: @richmove/owners

Fix UnhandledExceptionMiddleware regression after architectural changes
  ZEN/SOURCE/Api/Middleware/UnhandledExceptionMiddleware.cs
Owners: @richmove/owners

Apply patch 0316: Add enum duplication test harness and WP4 hardening preparation
  ZEN/Directory.Build.props
  ZEN/Directory.Packages.props
  ZEN/SOURCE/Api/Security/ComprehensiveSecurityAuditService.cs
  ZEN/TESTS/CodeHealth/EnumDupes.Tests/EnumDupes.Allowlist.json
  ZEN/TESTS/CodeHealth/EnumDupes.Tests/EnumDupes.Tests.csproj
  ZEN/TESTS/CodeHealth/EnumDupes.Tests/EnumDupesTests.cs
Owners: @richmove/owners

Apply patch 0319: Pre-WP4 final sweep with canonical corrections
  ZEN/SOURCE/Api/Compliance/ComplianceMonitoringService.cs
  ZEN/SOURCE/Api/Security/AdvancedInputSanitizationService.cs
  ZEN/SOURCE/Api/Security/ComprehensiveSecurityAuditService.cs
  ZEN/SOURCE/Core/Compliance/ComplianceTypes.cs
  ZEN/SOURCE/Core/Observability/SmartPayTracing.cs
Owners: @richmove/owners

Implement WP4 & WP4.1: Real-time notifications, multi-tenancy, and analytics scaffolding
  .gitignore
  ANALYSIS/PERF/PerfPlan.md
  ANALYSIS/PERF/scenarios/fx-quote-smoke.js
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/0319_PreWP4_FinalSweep.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/0400_WP4_LetsGo.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/0930_WP4.1_Triggers.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/0945_WP6_Blazor_Plan.patch
  WPS/WP4.md
  ZEN/Directory.Packages.props
  ZEN/SOURCE/Api/Analytics/MetricsRegistry.cs
  ZEN/SOURCE/Api/Analytics/RequestLoggingMiddleware.cs
  ZEN/SOURCE/Api/Bootstrap/WP4AppConfig.cs
  ZEN/SOURCE/Api/Bootstrap/WP4ServiceRegistration.cs
  ZEN/SOURCE/Api/Middleware/TenantMiddleware.cs
  ZEN/SOURCE/Api/Notifications/INotificationService.cs
  ZEN/SOURCE/Api/Notifications/NotificationsHub.cs
  ZEN/SOURCE/Api/Triggers/FxQuoteTriggerMiddleware.cs
  ZEN/SOURCE/Api/appsettings.WP4.sample.json
  ZEN/SOURCE/Core/MultiTenancy/ITenantResolver.cs
  ZEN/SOURCE/Core/MultiTenancy/TenantContext.cs
  ZEN/SOURCE/Core/Notifications/INotificationService.cs
  ZEN/SOURCE/Infrastructure/MultiTenancy/HostTenantResolver.cs
  ZEN/SOURCE/Infrastructure/Notifications/InMemoryNotificationService.cs
  ZEN/SOURCE/Infrastructure/Notifications/SupabaseRealtimeNotificationService.cs
  ZEN/SOURCE/Infrastructure/RichMove.SmartPay.Infrastructure.csproj
  ZEN/TESTS/Api.Tests/WP4/NotificationsHubSmokeTests.cs
  ZEN/TESTS/Api.Tests/WP4/README.md
  ZEN/TESTS/Api.Tests/WP4/TenantResolverTests.cs
Owners: @richmove/owners, @richmove/eng

Epic E1 Platform Foundation - Complete specification
  WPS/FEATURES/SPECIFICATIONS/E1_Platform_Foundation_Complete.md
Owners: @richmove/eng

Epic E3 Payment Orchestration - Complete specification
  WPS/FEATURES/SPECIFICATIONS/E3_Payment_Orchestration_Complete.md
Owners: @richmove/eng

Epic E4 Advanced Features - Complete specification
  WPS/FEATURES/SPECIFICATIONS/E4_Advanced_Features_Complete.md
Owners: @richmove/eng

Epic E5 Security & Secret Hygiene - Complete specification
  WPS/FEATURES/SPECIFICATIONS/E5_Security_Complete.md
Owners: @richmove/eng

Epic E6 Developer Experience & Observability - Complete specification
  WPS/FEATURES/SPECIFICATIONS/E6_Developer_Experience_Complete.md
Owners: @richmove/eng

Epic E7 Blazor SSR Admin UI & SDK - Complete specification
  WPS/FEATURES/SPECIFICATIONS/E7_UI_SDK_Complete.md
Owners: @richmove/eng

Epic E8 Low-Cost Azure Hosting - Complete specification
  WPS/FEATURES/SPECIFICATIONS/E8_Hosting_Complete.md
Owners: @richmove/eng

Comprehensive WPS V&V System Implementation
  WPS/FEATURES/SmartPay_Feature_Inventory_VV.csv
  WPS/README_VV.md
  WPS/SmartPay_VV_Matrix.csv
  WPS/TRACEABILITY_MATRIX.md
  WPS/WP01_Repository_and_Tooling_V2.md
  WPS/WP02_Core_Domain_and_DB_V2.md
  WPS/WP03_API_and_Contracts_V2.md
  WPS/WP04_Payment_Orchestrator_and_Connectors_V2.md
  WPS/WP05_FX_and_Remittance_SPI_V2.md
  WPS/WP06_Checkout_UI_and_SDKs_V2.md
  WPS/WP07_Merchant_Dashboard_V2.md
  WPS/WP08_Analytics_and_Reporting_V2.md
  WPS/WP09_Security_and_Compliance_Controls_V2.md
  WPS/WP10_Quality_CICD_and_Testing_V2.md
  WPS/WP11_Regulatory_and_Licensing_V2.md
  WPS/WP12_Partner_Integrations_and_GTM_V2.md
Owners: @richmove/eng

Clean up WPS folder - Remove old files replaced by V2 versions
  WPS/FEATURES/README.md
  WPS/FEATURES/SPECIFICATIONS/E2_ForeignExchange_Complete.md
  WPS/FEATURES/SPECIFICATIONS/Epic_Elaboration_Framework.md
  WPS/FEATURES/SPECIFICATIONS/README.md
  WPS/FEATURES/SPECIFICATIONS/Requirements_Extraction_Checklist.md
  WPS/FEATURES/SPECIFICATIONS/Requirements_Traceability_Matrix.md
  WPS/FEATURES/SmartPay_Feature_Inventory.csv
  WPS/FEATURES/Smoke_Features.md
  WPS/FEATURES/automation/feature-spec-generator.sh
  WPS/FEATURES/automation/feature-validator.sh
  WPS/FEATURES/automation/pre-commit-hook.sh
  WPS/FEATURES/automation/report-archiver.sh
  WPS/FEATURES/automation/simple-test.sh
  WPS/FEATURES/automation/test-coverage-mapper.sh
  WPS/FEATURES/automation/validate-features.sh
  WPS/FEATURES/reports/.gitkeep
  WPS/FEATURES/reports/test-report-2025-09-14_22-03-33.json
  WPS/README.md
  WPS/WP01_Repository_and_Tooling.md
  WPS/WP02_Core_Domain_and_DB.md
  WPS/WP03_API_and_Contracts.md
  WPS/WP04_Payment_Orchestrator_and_Connectors.md
  WPS/WP05_FX_and_Remittance_SPI.md
  WPS/WP06_Checkout_UI_and_SDKs.md
  WPS/WP07_Merchant_Dashboard.md
  WPS/WP08_Analytics_and_Reporting.md
  WPS/WP09_Security_and_Compliance_Controls.md
  WPS/WP10_Quality_CI_CD_and_Testing.md
  WPS/WP11_Regulatory_and_Licensing.md
  WPS/WP12_Partner_Integrations_and_GTM.md
  WPS/WP1_Review_Notes.md
  WPS/WP3_PlatformHardening.md
  WPS/WP4.md
Owners: @richmove/eng

Add remaining documentation and update README
  DOCS/API/SDK-Consumption.md
  DOCS/Hosting/Azure.LowCost.md
  DOCS/PERF/Blazor.Fast.md
  DOCS/UI/Blazor/Plan.md
  README.md
Owners: @richmove/owners

WP5: Implement Event Bridge & Tenant Isolation
  DB/SUPABASE/WP5_RLS.sql
  DOCS/Data/RLS_Supabase.md
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/1005_WP5_EventBridge_RLS.patch
  WPS/FEATURES.md
  WPS/WP05_Event_Bridge_and_Tenant_Isolation_V2.md
  ZEN/Directory.Packages.props
  ZEN/SOURCE/Api/Bootstrap/WP5AppConfig.cs
  ZEN/SOURCE/Api/Program.cs
  ZEN/SOURCE/Api/appsettings.Development.json
  ZEN/SOURCE/Api/appsettings.WP5.sample.json
  ZEN/SOURCE/Infrastructure/RichMove.SmartPay.Infrastructure.csproj
  ZEN/SOURCE/Infrastructure/Webhooks/WebhookDispatcher.cs
  ZEN/SOURCE/Infrastructure/Webhooks/WebhookModels.cs
  ZEN/SOURCE/Infrastructure/Webhooks/WebhookSigner.cs
  ZEN/TESTS/Api.Tests/WebhookSignerTests.cs
Owners: @richmove/owners, @richmove/eng

Update V&V Matrix and Feature Inventory for WP5 implementation
  WPS/FEATURES/SmartPay_Feature_Inventory.csv
  WPS/FEATURES/SmartPay_Feature_Inventory_VV.csv
  WPS/SmartPay_VV_Matrix.csv
Owners: @richmove/eng

Apply 1105 WPS V&V Alignment patch - comprehensive V&V framework
  DOCS/VnV/TestCatalogue.md
  DOCS/VnV/TraceabilityMatrix.csv
  DOCS/VnV/VerificationAndValidation.md
  README.md
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/1105_WPS_VnV_Alignment.patch
  WPS/DEVIATIONS.md
  WPS/INDEX.md
  WPS/TEMPLATE.md
  WPS/WP1.md
  WPS/WP2.md
  WPS/WP3.md
  WPS/WP4.1.md
  WPS/WP4.md
  WPS/WP5.md
Owners: @richmove/owners, @richmove/eng

feat(wps): consolidate WP naming convention and add V&V sections
  DOCS/VnV/TraceabilityMatrix.csv
  README.md
  WPS/INDEX.md
  WPS/WP01_Repository_and_Tooling_V2.md
  WPS/WP02_Core_Domain_and_DB_V2.md
  WPS/WP03_API_and_Contracts_V2.md
  WPS/WP04_Payment_Orchestrator_and_Connectors_V2.md
  WPS/WP05_Event_Bridge_and_Tenant_Isolation_V2.md
  WPS/WP05_FX_and_Remittance_SPI_V2.md
  WPS/WP06_Checkout_UI_and_SDKs_V2.md
  WPS/WP07_Merchant_Dashboard_V2.md
  WPS/WP08_Analytics_and_Reporting_V2.md
  WPS/WP09_Security_and_Compliance_Controls_V2.md
  WPS/WP1.md
  WPS/WP10_Quality_CICD_and_Testing_V2.md
  WPS/WP11_Regulatory_and_Licensing_V2.md
  WPS/WP12_Partner_Integrations_and_GTM_V2.md
  WPS/WP2.md
  WPS/WP3.md
  WPS/WP4.1.md
  WPS/WP4.md
  WPS/WP5.md
Owners: @richmove/owners, @richmove/eng

feat(wp8): implement MVP-optional guardrails for advanced infrastructure
  DOCS/Architecture/FeatureFlags.md
  DOCS/OPS/CostMonitoring.md
  DOCS/SECURITY/AdminAuth.md
  DOCS/VnV/TestCatalogue.md
  DOCS/VnV/TraceabilityMatrix.csv
  DOCS/VnV/VerificationAndValidation.md
  README.md
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/1310_WPS_VnV_MVP_Tolerant.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/1340_WP8_Guardrails_Operationalization.patch
  WPS/DEVIATIONS.md
  WPS/INDEX.md
  WPS/WP8.md
Owners: @richmove/owners, @richmove/eng

feat(wp7): add operational guardrails and observability endpoints
  DOCS/VnV/TraceabilityMatrix.csv
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/1410_WP7_Operational_Guardrails.patch
  WPS/WP07_Merchant_Dashboard_V2.md
  WPS/WP07_Operational_Guardrails.md
  WPS/WP08_Advanced_Infra_Deployment.md
  WPS/WP08_Analytics_and_Reporting_V2.md
  ZEN/SOURCE/Api/Bootstrap/WP7AppConfig.cs
  ZEN/SOURCE/Api/Endpoints/Observability/MetricsEndpoint.cs
  ZEN/SOURCE/Api/Endpoints/Observability/ScalingStatusEndpoint.cs
  ZEN/SOURCE/Api/Program.cs
  ZEN/TESTS/Api.Tests/WP7/AdminPolicyTests.cs
Owners: @richmove/owners, @richmove/eng

feat(wp3,wp6,wp7): implement three key patches for payment platform foundation
  .github/workflows/guardrails.yml
  ADMIN/README.md
  ADMIN/SmartPay.AdminBlazor/App.razor
  ADMIN/SmartPay.AdminBlazor/MainLayout.razor
  ADMIN/SmartPay.AdminBlazor/Pages/Index.razor
  ADMIN/SmartPay.AdminBlazor/Program.cs
  ADMIN/SmartPay.AdminBlazor/SmartPay.AdminBlazor.csproj
  ADMIN/SmartPay.AdminBlazor/_Imports.razor
  ADMIN/SmartPay.AdminBlazor/wwwroot/appsettings.json
  ADMIN/SmartPay.AdminBlazor/wwwroot/index.html
  DOCS/API/Payments.md
  DOCS/VnV/TraceabilityMatrix.csv
  DOCS/VnV/VerificationAndValidation.md
  README.md
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/1500_WP3_MinProvider_E2E.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/1510_WP6_SSR_Admin_SDK.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250914/1520_WP7_Guardrails_CI_Gates.patch
  TOOLS/SDK/README.md
  WPS/WP03_API_and_Contracts_V2.md
  WPS/WP06_Checkout_UI_and_SDKs_V2.md
  ZEN/SOURCE/Api/Bootstrap/WP3AppConfig.cs
  ZEN/SOURCE/Api/Endpoints/Observability/MetricsEndpoint.cs
  ZEN/SOURCE/Api/Endpoints/Observability/ScalingStatusEndpoint.cs
  ZEN/SOURCE/Api/Endpoints/Payments/CreateIntentEndpoint.cs
  ZEN/SOURCE/Api/Endpoints/Payments/MockWebhookEndpoint.cs
  ZEN/SOURCE/Api/Payments/ProviderRouter.cs
  ZEN/SOURCE/Api/Program.cs
  ZEN/SOURCE/Api/appsettings.WP3.sample.json
  ZEN/SOURCE/Core/Payments/IPaymentProvider.cs
  ZEN/SOURCE/Core/Payments/Idempotency/IIdempotencyStore.cs
  ZEN/SOURCE/Infrastructure/Payments/MockPayProvider.cs
  ZEN/TESTS/Core.Tests/IdempotencyTests.cs
Owners: @richmove/owners, @richmove/eng

feat(patches): apply 20250915 patch collection - WP3/WP5/WP6/WP7/V&V enhancements
  DOCS/Data/RLS_Supabase_Verification.md
  REVIEW/CodeReview/ChatGPT/PatchOn/20250915/0110_WP3_MinProvider_E2E.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250915/0115_WP5_Webhooks_Outbox_Min.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250915/0120_WP6_AdminSSR_SDK.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250915/0125_WP7_Operational_Guardrails.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250915/0130_VnV_CI_Smoke_Gates.patch
  Smoke_Features.md
  ZEN/SOURCE/Api/Bootstrap/WP5AppConfig.cs
  ZEN/SOURCE/Api/Hosted/WebhookOutboxWorker.cs
  ZEN/SOURCE/Api/appsettings.WP5.sample.json
  ZEN/SOURCE/Core/Webhooks/IWebhookOutbox.cs
  ZEN/SOURCE/Infrastructure/Webhooks/InMemoryOutbox.cs
  ZEN/TESTS/WP3/IdempotencyTests.cs
  ZEN/TESTS/WP5/WebhookSignerTests.cs
Owners: @richmove/owners

refactor(core): eliminate critical architectural issues and code duplication
  REVIEW/CodeReview/ChatGPT/PatchOn/20250915/0105_WP3.3_Payments_Align_VnV.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250915/0110_WP3_MinProvider_E2E.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250915/0110_WP5.2_Webhooks_RLS_VnV.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250915/0115_WP5_Webhooks_Outbox_Min.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250915/0115_WP6.2_AdminSSR_Perf_Cookbook.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250915/0120_WP6_AdminSSR_SDK.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250915/0120_WP7.2_Guardrails_Ops_Spec.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250915/0125_CI_VnV_Guardrails.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250915/0125_WP7_Operational_Guardrails.patch
  REVIEW/CodeReview/ChatGPT/PatchOn/20250915/0130_VnV_CI_Smoke_Gates.patch
  ZEN/SOURCE/Api/Bootstrap/WP3AppConfig.cs
  ZEN/SOURCE/Api/Bootstrap/WP5AppConfig.cs
  ZEN/SOURCE/Api/Endpoints/Payments/CreateIntentEndpoint.cs
  ZEN/SOURCE/Api/appsettings.WP5.sample.json
  ZEN/SOURCE/Core/Payments/Idempotency/IIdempotencyStore.cs
  ZEN/TESTS/Core.Tests/IdempotencyTests.cs
  ZEN/TESTS/WP3/IdempotencyTests.cs
Owners: @richmove/owners

feat(docs): apply 20250915 V&V enhancement patches - comprehensive documentation and smoke testing
  .github/workflows/guardrails.yml
  DEVX/smoke/README.md
  DOCS/API/Webhooks.Outbound.md
  DOCS/OPS/BlastRadius.md
  DOCS/OPS/CostMonitoring.md
  DOCS/OPS/PromotionCriteria.md
  DOCS/PERF/Blazor.Fast.md
  DOCS/SECURITY/AdminAuth.md
  DOCS/UI/Blazor/Plan.md
  Smoke/payments.intent.http
  Smoke/payments.mock.webhook.http
  Smoke/webhooks.consumer.http
  WPS/WP03_Payments_Provider_Orchestration_V2.md
  ZEN/ADMIN/SmartPay.AdminBlazor/README.md
  ZEN/SOURCE/Api/appsettings.WP7.sample.json
Owners: @richmove/owners, @richmove/eng

fix(build): resolve all compiler and code analysis warnings
  ZEN/ADMIN/SmartPay.AdminBlazor/Program.cs
  ZEN/SOURCE/Api/Analytics/RequestLoggingMiddleware.cs
  ZEN/SOURCE/Api/Compliance/ComplianceMonitoringService.cs
  ZEN/SOURCE/Api/Endpoints/Payments/CreateIntentEndpoint.cs
  ZEN/SOURCE/Api/Endpoints/Payments/MockWebhookEndpoint.cs
  ZEN/SOURCE/Api/Hosted/WebhookOutboxWorker.cs
  ZEN/SOURCE/Api/Middleware/SecurityHeadersMiddleware.cs
  ZEN/SOURCE/Api/Middleware/TenantMiddleware.cs
  ZEN/SOURCE/Api/Payments/ProviderRouter.cs
  ZEN/SOURCE/Api/Security/ApiSecurityHardeningService.cs
  ZEN/SOURCE/Api/Security/ThreatDetectionService.cs
  ZEN/SOURCE/Api/Triggers/FxQuoteTriggerMiddleware.cs
Owners: @richmove/owners

fix(api/admin): resolve Swagger 500 errors and Admin FX Quote fetch failures
  DOCS/Dev/CORS_Admin.md
  ZEN/ADMIN/SmartPay.AdminBlazor/Pages/Index.razor
  ZEN/ADMIN/SmartPay.AdminBlazor/appsettings.Development.json
  ZEN/SOURCE/Api/Endpoints/Observability/MetricsEndpoint.cs
  ZEN/SOURCE/Api/Endpoints/Observability/ScalingStatusEndpoint.cs
  ZEN/SOURCE/Api/Program.cs
  ZEN/TOOLS/README.md
  ZEN/TOOLS/kill-services.sh
  ZEN/TOOLS/start-services.sh
Owners: @richmove/owners

feat(config): finalize CORS and HttpClient configuration enhancements
  REVIEW/CodeReview/ChatGPT/PatchOn/20250915/1037_HOTFIX_Swagger_CORS_AdminBase.patch
  SECRETS.end
  ZEN/ADMIN/SmartPay.AdminBlazor/Program.cs
  ZEN/ADMIN/SmartPay.AdminBlazor/appsettings.json
  ZEN/SOURCE/Api/appsettings.Development.json
Owners: @richmove/owners

fix: CORS middleware conflict and SecurityHeaders crash - ISSUE PERSISTS
  ZEN/SOURCE/Api/Middleware/SecurityHeadersMiddleware.cs
  ZEN/SOURCE/Api/Program.cs
  ZEN/SOURCE/Api/appsettings.Development.json
  ZEN/TOOLS/SDK/README.md
Owners: @richmove/owners

Fix quotes issue
  ZEN/ADMIN/SmartPay.AdminBlazor/Pages/Index.razor
  ZEN/ADMIN/SmartPay.AdminBlazor/wwwroot/appsettings.json
Owners: @richmove/owners

CODEOWNERS:

* @richmove/owners
/PLAN/ @richmove/pm
/WPS/ @richmove/eng
/REGULATORY/ @richmove/compliance
